
// https://lospec.com/palette-list/equpix15
$colorA: #523c4e;
$colorB: #2a2a3a;
$colorC: #3e5442;
$colorD: #84545c;
$colorE: #38607c;
$colorF: #5c7a56;
$colorG: #101024;
$colorH: #b27e56;
$colorI: #d44e52;
$colorJ: #55a894;
$colorK: #80ac40;
$colorL: #ec8a4b;
$colorM: #8bd0ba;
$colorN: #ffcc68;
$colorO: #fff8c0;
